*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --Dark-grayish-red: hsl(0, 6%, 24%);
    --gradiente1: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --gradiente2: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

}

body{
    background: linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 100%, 98%)),linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%)); 
    display: grid;
    grid-template-rows: 5rem 1fr;
    width: 100%;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: .5rem;
}

.logo-container{
    display: flex;
    align-items: center;
    height: 100%;
}

/* hero */
.hero-img{
    background-image: url('./images/hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    margin-bottom: 1rem;
}



/* Hero texts */
.hero{
    height: 100%;
}

.title{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: var(--desaturated-red)
}

.title--color{
    display: block;
    color: #000;
    font-weight: 600;
}

.desc{
    margin-bottom: 1.5rem;
    color:var(--desaturated-red);
    text-align: center;
    line-height: 1.3;
}

/* Form */
.form-container{
    position: relative;
    max-width: 400px;
    height: 3rem;
    margin: 0 auto 3rem;
}

.email{
    height: 100%;
    width: 100%;
    padding: 1em;
    border: 1px solid var(--desaturated-red);
    outline: none;
    border-radius: 1rem;
}

.send{
    background: linear-gradient(135deg,  hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    position: absolute;
    right: 0;
    top: 0;
    width: 5rem;
    height: 100%;
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform .3s;
}

.send:hover{
    transform: scale(1.1);
}

.fail{
    border: 2px solid var(--soft-red);
}

.error{
    position: absolute;
    right: 6rem;
    top: 25%;
    opacity: 0;
    transition: opacity .3s;
}


.error-msg{
    color: var(--soft-red);
    margin: 1em;
    opacity: 0;
    transition: opacity .3s;
}

.showError{
    opacity: 1;
}
@media screen and (min-width: 1000px) {

    body{
        grid-template-columns: 1fr 500px;
    }

    .main{
        align-self: center;
    }

    .container{
        width: 60%;
    }

    .hero-img{
        background-image: url('./images/hero-desktop.jpg');
        background-size: cover;
        grid-row: 1/-1;
        grid-column: 2/-1;
        height: 100%;
    }

    .title{
        font-size: 5rem;
        text-align: left;
    }

    .desc{
        text-align: left;
        font-size: 1.2rem;
    }

    .form-container{
        margin: 0 0 3rem
    }


}

